:root {
  font-size: 16px;
  box-sizing: border-box;
}

.embed {
  overflow: hidden;
  border-radius: 0.85rem;
  /* https://uigradients.com/#Delicate */
  background: linear-gradient(to right, #d3cce3, #e9e4f0);
}

.menu-bar {
  background-color: #202020;
  color: #e9e8e9;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  padding-top: 00.25rem;
  padding-bottom: 00.25rem;
}

#apl-glyph {
  font-size: 1.5625rem;
  vertical-align: middle;
  margin-left: 1rem;
}

.app {
  vertical-align: middle;
}

.window {
  margin: 1.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 0.85rem;
}

.title-bar {
  background-color: #1e1e1e;
  padding-top: 0.25rem;
}

.window-btns {
  padding: 0.5rem;
  margin-left: 0.5rem;
}

.optn-btn {
  height: 0.85rem;
  width: 0.85rem;
  border-radius: 100%;
  display: inline-block;
  margin-right: 0.25rem;
}

.close-btn {
  background-color: #ee6a5e;
}

.min-btn {
  background-color: #f6bd4f;
}

.fulscrn-btn {
  background-color: #61c454;
}

.content {
  background-color: #05070d;
  color: #98aee4;
  padding-left: 1rem;
  font-family: "Fira Code";
}
